<%= link_to "Create New Workout", new_workout_path, class: "btn" %>


<div class="row">
	<% @workouts.each do |workout| %>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= workout.name %></span>
              <p><%= workout.description %></p>
            </div>
            <div class="card-action">
              <%= link_to 'View Workout', workout %>
            </div>
          </div>
        </div>

	<% end %>
</div>
