// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_links {
	height: auto;
	width: 10vw;
	padding: 3px;
	background-color: #64b5f6;
	float: left;
}

.link-to-text-color {
	float: left;
	color: white;
	font-size: 125%
}

#tabs_wrapper {
	justify-content: center;
	margin-left:15px;
}

.profile_post {
	margin: 25px;
}

#login_wrapper {
	justify-content: center;
	height: auto;
	width: 45vw;
	margin: auto;
	border: solid;
	border-color: #64b5f6;
	padding: 30px;
}

#signup_wrapper {
	justify-content: center;
	height: auto;
	width: 45vw;
	margin: auto;
	border: solid;
	border-color: #64b5f6;
	padding: 30px;
}

#profile_workout_selector_buttons {
	margin: 30px;
}