// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_links {
	height: auto;
	width: 10vw;
	padding: 3px;
	background-color: #64b5f6;
	float: left;
}

.link-to-text-color {
	float: left;
	color: white;
	font-size: 150%
}

#tabs_wrapper {
	justify-content: center;
}