// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-workout-page {
	margin-top: 70px; 
	border: 1px solid #ff5252; 
	padding: 20px;
	background-color: #e0f2f1;
}