
<h1><%= @exercise.name %></h1>
<h5><%= @exercise.description %></h5>

<h3>This exercise works your:</h3>
<ul>
	<% @exercise.muscle_groups.each do |muscle_group| %>
		<li><%= muscle_group.muscles %></li>
	<% end %>
</ul>